body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #3661B0;
}

h1 {
    color: #3661B0;
}

.heading, .hero {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 1em;
}

.heading-right {
    padding-top: 30px;
}

.old-instance-count {
    margin: 20px 0 5px 0;
    font-size:10rem;
}

#logo-container img {
    vertical-align: middle;
    margin-top: -5px;
}

dl.ami-details dt {
    font-weight: bold;
}

.ssa-amis {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ssa-amis__item {
    width: 100%;
}

.ssa-table__heading {
    padding-top: 0;
}

.ssa-table__entry {
    padding-bottom: 0;
}

@media only screen and (min-width: 601px) {
    .ssa-amis {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .ssa-amis:after {
        content: "";
        flex: 0 0 49%;
    }

    .ssa-amis__item {
        flex: 0 0 49%;
    }
}

@media only screen and (min-width: 1200px) {
    .ssa-amis__item {
        flex: 0 0 32%;
    }

    .ssa-amis:after {
        content: "";
        flex: 0 0 32%;
    }
}

.amis-list__item {
    width: 100%;
}

@media only screen and (min-width: 601px) {
    .amis-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .amis-list:after {
        content: "";
        flex: 0 0 49%;
    }

    .amis-list__item {
        flex: 0 0 49%;
    }
}

@media only screen and (min-width: 720px) {
    .amis-list:after {
        content: "";
        flex: 0 0 32%;
    }

    .amis-list__item {
        flex: 0 0 32%;
    }
}

.ami-badge {
    display: flex;
    position: relative;
    margin: 10px 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ami-badge__description {
    flex: 1;
    padding: 10px 5px 10px 5px;
}

.ami-badge__age {
    flex: 0 0 58px;
    align-self: stretch;
    padding: 10px 2px 10px 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ami-badge__icon-container {
    flex: 0 0 35px;
    align-self: center;
    margin-left: 2px;
}

.ami-badge__icon {
    width: 35px;
    vertical-align: middle;
}


table.tags td {
    padding: 0px;
}