body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#logo-container img {
    vertical-align: middle;
    margin-top: -5px;
}

dl.ami-details dt {
    font-weight: bold;
}

.ami-badge {
    position: relative;
}

.ami-badge .ami-icon {
    position: absolute;
    top: -13px;
    left: -14px;
    width: 40px;
}

.ami-badge .ami-status {
    width: 40px;
    vertical-align: middle;
}
