*.js
!jest.config.js
!jest.setup.js
!.eslintrc.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache


# lib/ is ignored at the root level .gitignore this overrides that rule for any
# dir called lib in cdk/
!lib/

dist
