@import config.AMIableConfig
@import org.joda.time.DateTime
@(ami: AMI, conf: AMIableConfig)

@import utils.DateUtils.{getAgeColour}
@import prism.Recommendations
@import views.html.fragments.amiDetails

<div class="ami-details__container">
    <div class="ami-details--this-ami">
        @amiDetails(ami, conf)
    </div>
    @if(Recommendations.isObsoleteUbuntu(ami, DateTime.now())) {
        <div class="ami-details--upgrade upgrade-image no-upgrade-image dist-eol">
            <div class="no-ami-upgrade--message">This version of Ubuntu is End of Life, you should upgrade.</div>
        </div>
    } else {
        @ami.upgrade.map { upgrade =>
            <div class="ami-details--upgrade upgrade-image upgrade-image--@ami.upgrade.flatMap(upgrade => upgrade.creationDate).map(getAgeColour).getOrElse("black")">
              @amiDetails(upgrade, conf)
            </div>
        }.getOrElse {
            @if(Recommendations.isUnknown(ami)) {
                <div class="ami-details--upgrade upgrade-image no-upgrade-image unkown-upgrade-image">
                    <div class="no-ami-upgrade--message">Unknown AMI, cannot recommend upgrades</div>
                </div>
            } else {
                <div class="ami-details--upgrade upgrade-image no-upgrade-image no-upgrade-image--@ami.creationDate.map(getAgeColour).getOrElse("black")">
                    <div class="no-ami-upgrade--message">No upgrade available</div>
                </div>
            }
        }
    }
</div>
