@(ami: AMI, listDisplay: Boolean = true, id: String = java.util.UUID.randomUUID.toString)

@import datetime.DateUtils.{readableDateTime, getAgeColour, daysAgo}

@defining(ami.creationDate.map(getAgeColour).getOrElse("red")) { colour =>
    <div class="ami-badge z-depth-1 grey lighten-3">
        <div class="ami-badge__icon-container">
            <img src="/assets/images/ami.png" alt="AMI" class="ami-badge__icon">
        </div>
        <div class="ami-badge__description center-align">
            <a class="modal-trigger" href="#modal-@id">
                @ami.imageId
            </a>
        </div>
        <div class="ami-badge__age @colour white-text center-align">
            @ami.creationDate match {
                case Some(date) => {
                    @daysAgo(date)
                    <i class="mdi-image-timelapse"></i>
                }
                case None => {
                    Ancient
                }
            }
        </div>
    </div>
}


<div id="modal-@id" class="@if(listDisplay){modal}" xmlns="http://www.w3.org/1999/html">
    <div class="@if(listDisplay){modal-content}">
        <dl class="ami-details">
            <dt>Image ID</dt>
            <dd>@ami.imageId</dd>
            <dt>Creation date</dt>
            <dd>@ami.creationDate match {
                case Some(date) => {
                    @readableDateTime.print(date) -
                    <span class="@getAgeColour(date)-text">
                        @daysAgo(date) day@if(daysAgo(date) != 1){s} old
                    </span>
                }
                case None => {
                    <span class="red-text">Very old (no creation date available)</span>
                }
            }</dd>
            @ami.name.map { name =>
                <dt>Name</dt>
                <dd>@ami.name</dd>
            }
            @ami.description.map { description =>
                <dt>Description</dt>
                <dd>@ami.description</dd>
            }
            @if(ami.tags.nonEmpty) {
                <dt>Tags</dt>
                <dd>
                    <table class="tags">
                        <tbody>
                @for( (key, value) <- ami.tags) {
                            <tr>
                                <td>@key</td>
                                <td>@value</td>
                            </tr>
                }
                        </tbody>
                    </table>
                </dd>
            }
            <dt>Region</dt>
            <dd>@ami.region</dd>
            <dt>Virtualization Type</dt>
            <dd>@ami.virtualizationType</dd>
            <dt>Architecture</dt>
            <dd>@ami.architecture</dd>
            <dt>ARN</dt>
            <dd>@ami.arn</dd>
        </dl>
    </div>
</div>