@(instances: List[Instance], emptyChar: String = "-")

@if(instances.nonEmpty) {
    <div class="ami-usage--title">AMI Usage</div>
    <div class="ami-usage--message">This AMI is used by @instances.length instances</div>
    <table class="striped">
        <thead>
            <tr>
                <th class="instance-details-table__heading">Stack</th>
                <th class="instance-details-table__heading">Stage</th>
                <th class="instance-details-table__heading">App</th>
                <th class="instance-details-table__heading">State</th>
                <th class="instance-details-table__heading">Instance name</th>
                <th class="instance-details-table__heading">Ip</th>
                <th class="instance-details-table__heading">Created at</th>
            </tr>
        </thead>
        <tbody>
        @for(instance <- instances) {
            <tr>
                <td class="instance-details-table__entry">@instance.stack.getOrElse(emptyChar)</td>
                <td class="instance-details-table__entry">@instance.stage.getOrElse(emptyChar)</td>
                <td class="instance-details-table__entry">@instance.app</td>
                <td class="instance-details-table__entry">@instance.vendorState</td>
                <td class="instance-details-table__entry">@instance.instanceName</td>
                <td class="instance-details-table__entry">@instance.ip</td>
                <td class="instance-details-table__entry">@instance.createdAt</td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <div class="ami-usage--message">No instances running for the specific AMI</div>
    }
