@(ssaa: SSAA, accountNames: List[String])


<div class="card">
    <div class="card-content">
        <span class="card-title">Lookup AMI usage</span>
        <form action="/instanceAMIs" method="get" class="row">
            <div class="input-field col m6">
                <select name="accountName" id="accountName" value="@ssaa.accountName.getOrElse("")" >
                    <option value="" disabled selected>Choose AWS account</option>
                @for(accountName <- accountNames) {
                    <option value="@accountName" >@accountName</option>
                }
                </select>
                <label for="accountName">Filter AMIs by account name</label>
            </div>
            <div class="input-field col m6">
                <input type="text" name="stack" id="stack" placeholder="Stack" value="@ssaa.stack.getOrElse("")" />
                <label for="stack">Filter AMIs by stack</label>
            </div>
            <div class="input-field col m6">
                <input type="text" name="stage" id="stage" placeholder="Stage" value="@ssaa.stage.getOrElse("")" />
                <label for="stage">Filter AMIs by stage</label>
            </div>
            <div class="input-field col m6">
                <input type="text" name="app" id="app" placeholder="App" value="@ssaa.app.getOrElse("")" />
                <label for="app">Filter AMIs by app</label>
            </div>
            <div class="col m6">
                <button class="btn btn-large waves-effect waves-light right" type="submit">
                    AMIs in use
                </button>
            </div>
        </form>
    </div>
</div>
