@(ami: AMI)

@main("AMI") {

    <div class="container">
        <div class="row">
            <h1 class="header green-text text-darken-3">AMI</h1>

            <dl class="ami-details">
                <dt>Name</dt>
                <dd>@ami.name.getOrElse("No name available")</dd>
                <dt>Image ID</dt>
                <dd>@ami.imageId</dd>
                <dt>Description</dt>
                <dd>@ami.description.getOrElse("No description available")</dd>
                <dt>Creation date</dt>
                @*<dd>@ami.creationDate.fold("Too old")(datetime.DateUtils.readableDateTime.print(_) + s" - ${datetime.DateUtils.daysAgo(_)} days ago")</dd>*@
                <dd>@ami.creationDate match {
                    case Some(date) => {
                        @datetime.DateUtils.readableDateTime.print(date) -
                        <span class="@datetime.DateUtils.getAgeColour(date)">@datetime.DateUtils.daysAgo(date) days old</span>
                    }
                    case None => {
                        Too old
                    }
                }</dd>
                <dt>ARN</dt>
                <dd>@ami.arn</dd>
            </dl>
        </div>
    </div>

}
