@(amis: List[AMI])

@main("AMI") {

    <div class="container">
        <div class="row">
            <h1 class="header green-text text-darken-3">All AMIs</h1>
            @for((ami, i) <- amis.zipWithIndex) {
                @if((i % 3) == 0 && i > 0) {
        </div>
        <div class="row">
                }
                <div class="col m4">
                    <dl class="ami-details">
                        <dt>Name</dt>
                        <dd>@ami.name.getOrElse("No name available")</dd>
                        <dt>Image ID</dt>
                        <dd>@ami.imageId</dd>
                        <dt>Description</dt>
                        <dd>@ami.description.getOrElse("No description available")</dd>
                        <dt>Creation date</dt>
                        <dd>@ami.creationDate match {
                            case Some(date) => {
                                @datetime.DateUtils.readableDateTime.print(date) -
                                <span class="@datetime.DateUtils.getAgeColour(date)">@datetime.DateUtils.daysAgo(date) days old</span>
                            }
                            case None => {
                                Too old
                            }
                        }</dd>
                        <dt>ARN</dt>
                        <dd>@ami.arn</dd>
                    </dl>
                </div>
            }
        </div>
    </div>

}
