@(oldInstances: List[Instance], oldStacks: List[String])

@import views.html.fragments.ssaAmiForm

@main("Welcome to AMIable") {
    <div class="hero grey lighten-3">
        <div class="container">
            <h1 class="hide">AMIable</h1>
            <div class="row">
                <div class="col m6">
                    <p class="grey-text darken-1">
                        Instances running on an out-of-date AMI
                    </p>
                    <div class="old-instance-count deep-purple-text">
                        @oldInstances.size
                    </div>
                </div>
                <div class="col m6">
                    <p class="grey-text darken-1">
                        Stacks running old AMIs
                    </p>
                    @for(stack <- oldStacks) {
                        <div class="chip"><a href="/instanceAMIs?stack=@stack">@stack</a></div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                @ssaAmiForm()
            </div>
            <div class="col m6">
                <form action="/ami" method="get" class="row">
                    <div class="input-field col s12">
                        <input type="text" name="arn" id="arn" placeholder="AMI ARN" />
                        <label for="arn">Lookup AMI</label>
                        <button class="btn waves-effect waves-light right" type="submit">
                            Lookup AMI
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
