@(
        totalInstances: Int,
        oldInstances: List[Instance],
        oldStacks: List[String],
        oldCountData: List[(org.joda.time.DateTime, Double)]
)

@import views.html.fragments.ssaAmiForm

@main("Welcome to AMIable") {
    <div class="hero grey lighten-3">
        <div class="container">
            <h1 class="hide">AMIable</h1>
            <div class="row">
                <div class="col l6 ami-kpis__container">
                    <p class="grey-text darken-1">
                        Instances running on an out-of-date AMI
                    </p>
                    <div class="deep-purple-text">
                        <span class="old-instance-count">@oldInstances.size</span> <span class="total-instance-count">/ @totalInstances</span>
                    </div>
                    @if(oldCountData.nonEmpty) {
                        <div class="old-instance-count-chart__container">
                            <canvas id="old-instances-chart" width="400" height="250"></canvas>
                        </div>
                    }
                </div>
                <div class="col l6">
                    <p class="grey-text darken-1">
                        Stacks running old AMIs
                    </p>
                    @for(stack <- oldStacks) {
                        <div class="chip"><a href="/instanceAMIs?stack=@stack">@stack</a></div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                @ssaAmiForm(SSA.empty)
            </div>
            <div class="col m6">
                <form action="/ami" method="get" class="row">
                    <div class="input-field col s12">
                        <input type="text" name="imageId" id="imageId" placeholder="Image ID" />
                        <label for="arn">Lookup AMI</label>
                        <button class="btn waves-effect waves-light right" type="submit">
                            Lookup AMI
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}{
    @if(oldCountData.nonEmpty) {
        <script src="/assets/javascripts/Chart.Core.min.js"></script>
        <script src="/assets/javascripts/Chart.Scatter.min.js"></script>
        <script>
            var tzOffsetSecs = new Date().getTimezoneOffset() * 60,
                data = [
                    {
                        label: "History",
                        data: [
@for(((datetime, value), i) <- oldCountData.zipWithIndex) {
@if(i != 0) {,}
{x: new Date(@datetime.getMillis - tzOffsetSecs), y: @value}
}
                        ]
                    }
                ],
                options = {
                    bezierCurve: false,
                    showTooltips: true,
                    scaleShowHorizontalLines: true,
                    scaleShowLabels: true,
                    scaleTimeFormat: "H:MM",
                    scaleDateTimeFormat: "mmm d, yyyy, HH:MM",
                    responsive: true,
                    scaleType: "date",
                    useUtc: false // display in local time
                },
                ctx = document.getElementById("old-instances-chart").getContext("2d");
            new Chart(ctx).Scatter(data, options);
        </script>
    }
}
