@(stack: Option[String], stage: Option[String], app: Option[String], amis: List[Either[String, AMI]])

@import views.html.fragments.{optWithLabel, formatAmi}

@main("Instance AMIs") {
    <div class="container">
        <div class="row">
            <h1 class="header green-text text-darken-3">AMIs in use for @optWithLabel(stack, "Stack") @optWithLabel(stage, "Stage") @optWithLabel(app, "App")</h1>
            @for((amiOrError, i) <- amis.zipWithIndex) {
                @if((i % 3) == 0 && i > 0) {
                </div>
        <div class="row">
        }
            <div class="col m4">
                @amiOrError match {
                    case Left(err) => {
                        <div class="ami-badge card-panel grey lighten-4 center-align">
                            @err
                        </div>
                    }
                    case Right(ami) => {
                        @formatAmi(ami)
                    }
                }
            </div>
        }
        </div>
    </div>
}
