@(stack: Option[String], stage: Option[String], app: Option[String], amiSSAs: List[(SSA, scala.List[AMI])])

@import views.html.fragments.{ssaAmiForm, formatAmi, heading, printSSA}

@main("Instance AMIs") {
    @heading("AMIs in use")
    <div class="container">
        <div class="ssa-amis">
            @for((ssa, amis) <- amiSSAs) {
                <div class="ssa-amis__item">
                    <div class="card">
                        <div class="card-content">
                            @printSSA(ssa)
                            @for(ami <- amis.sortBy(_.creationDate.map(_.getMillis))) {
                                @formatAmi(ami)
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        @ssaAmiForm(stack, stage, app)
    </div>
}
