@(title: String)(content: Html)(scripts: Html = Html(""))

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <meta name="theme-color" content="#3661b0">

        <title>@title - AMIable</title>

        <link href="/assets/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="/assets/stylesheets/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>

        <link rel="icon" href="/assets/images/favicon/favicon.ico"/>

        <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/images/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png">
    </head>
    <body>
        <header>
            <nav class="white-text" role="navigation">
                <div class="nav-wrapper container">
                    <a id="logo-container" href="/" class="brand-logo black-text">
                        <img src="/assets/images/amiable.png" alt="AMIable">
                    </a>
                </div>
            </nav>
        </header>

        <main>
            @content
        </main>

        <footer class="page-footer grey darken-4 white-text">
            <div class="container">
                <div class="row">
                    <div class="col l9 s12">
                        <h5 class="">The Guardian</h5>
                        <p class="">AMIable is a part of the Guardian's infrastructure management toolset.</p>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="">Useful links</h5>
                        <ul>
                            <li><a class="" href="https://github.com/guardian/amiable">AMIable on GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/assets/javascripts/jquery-2.1.4.min.js"></script>
        <script src="/assets/materialize/js/materialize.js"></script>
        <script src="/assets/javascripts/amiable.js"></script>
        @scripts
    </body>
</html>